<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30352074708-jn8c7u2sj65204t7ma4t8igflpvbekec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30352074708-jn8c7u2sj65204t7ma4t8igflpvbekec</string>
	<key>API_KEY</key>
	<string>AIzaSyBpepg0a_sVq81xDggtFOCpska3Z1Ef1cE</string>
	<key>GCM_SENDER_ID</key>
	<string>30352074708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.starterArchitectureFlutterFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hana-tongdok-4887a</string>
	<key>STORAGE_BUCKET</key>
	<string>hana-tongdok-4887a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30352074708:ios:6883d8da1bd74d1d6c1841</string>
</dict>
</plist>